<h1>Bienvenido a nuestra aplicación</h1>
<p>Inicia sesión o regístrate para comenzar.</p>
<%= link_to 'Iniciar sesión', new_user_session_path, class: 'btnLogin' %> |
<%= link_to 'Registrarse', new_user_registration_path, class: 'btnSignup' %> |
<%= link_to 'Acerca de', about_path, class: 'about' %> |
<%= link_to 'Contacto', contact_path, class: 'contact' %>
