
.loginSection{
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  .loginSectionContainer{
    width:400px;
    min-width:250px;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 4px 4px 16px 4px #cfcfcf;
    padding:25px;
    .loginSectionTitle{
      color:#424242;
      font-weight: 400;
      font-size: 2rem;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      margin-bottom: 30px;
    }
    .loginSectionForm{
      width:100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:10px;
      .loginSectionField,
      .loginSectionCheck{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap:5px;
        .loginSectionlabel{
          width:100%;
          color:#a0a0a0;
          font-weight: 400;
          font-size: 0.8rem;
          font-family: "Raleway", sans-serif;
        }
        .loginSectionEmail,
        .loginSectionPassword{
          width:100%;
          padding: 10px 15px;
          color:#6e6e6e;
          font-weight: 400;
          font-size: 1rem;
          font-family: "Raleway", sans-serif;
          border-radius: 5px;
          border:1px solid #cecece;
        }
      }
      .loginSectionCheck{
        display: flex;
        flex-direction: row;
        .loginSectionCheckbox{
          width:20px;
          height:auto;
          border-radius: 5px;
          border:1px solid #929292;
        }
        .loginSectionRemember{
          color:#000000;
          font-weight: 400;
          font-size: 0.7rem;
          font-family: "Raleway", sans-serif;
        }
      }
      .loginSectionFieldActions{
        width:100%;
        margin-top: 50px;
        .loginSectionSubmit{
          width:100%;
          background-color: #8a2be2;
          border: 1px solid #8a2be2;
          border-radius: 10px;
          color: white;
          padding:10px;
          cursor: pointer;
          font-size: 1rem;
          font-weight: 500;
          font-family: "Raleway", sans-serif;
          transition:0.3s ease-in-out;
          &:hover{
            background-color: #a553f1;
          }
        }
      }
    }
  }
}
.questionLogin{
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .question{
    color: #9e9e9e;
    padding-top:10px;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
  }
  .btnLogin{
    color: #9e9e9e;
    padding:0;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
  &:hover{
    text-decoration: underline;
    color: #757575;
  }
}
}
.questionSignup{
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .question{
    color: #9e9e9e;
    padding-top:10px;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
  }
  .btnSignup{
    color: #9e9e9e;
    padding:0;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      color: #757575;
    }
  }
}
